@media all and (max-width:1059px) and (min-width:960px) {
    #wrap{
        width: 100%;
        overflow: hidden;
    }
    
    /* /////////////////////// 헤더 /////////////////////// */
    
    header{
        width: 100%;
        height: 100px;
        position: absolute;
        /* background-color: antiquewhite; */
        z-index: 999;
    }
    
    #headerlogo{
        width: 100px;
        height: 100px;
        padding: 5px;
        background-color: black;
        margin: 0 auto;
    }
    
    #headerlogo img{
        width: 100%;
        margin-top: 58px;
    }
    
    
    /* /////////////////////// 섹션01 - 메인 카데고리 /////////////////////// */
    
    #sec01 {
        width: 100%;
        height: 100vh;
        position: relative;
        /* background-color: aquamarine; */
    }
    
    
    #sec01_bg_video{
        width: 100%;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
        /* background-color: bisque; */
        position: absolute;
        /* display: none; */
    }
    
    #sec01_bg_video video{
        width: 100%;
    }
    
    
    /* 왼쪽 - NEW PRODUCT */
    
    #sec01_left_box{
        width: 600px;
        height: 400px;
        left: 0;
        margin-top: 18vh;
        /* background-color: cornflowerblue; */
        position: absolute;
    }
    
    #sec01_left_underline{
        width: 100%;
        bottom: 90px;
        border-bottom: 1px solid #CF745A;
        position: absolute;
    }
    
    #left_box_con{
        width: 100%;
        height: 100%;
        left: 50px;
        bottom: 55px;
        position: relative;
        cursor: pointer;
        /* background-color: aquamarine; */
    }
    
    .newproduct_img{
        bottom: 0;
        right: 0;
        transform: scale(0.9);
        position: absolute;
        cursor: pointer;
    }
    
    #new_img{
        bottom: -50px;
        right: -10px;
        transform: scale(0.8);
    }
    
    #new_line01{
        bottom: 4px;
        right: 5px;
        transform: scale(0.8);
        transition-duration: 1s;
        opacity: 0;
    }
    
    #new_line02{
        bottom: 4px;
        right: -10px;
        transform: scale(0.8);
        transition-duration: 1s;
        transition-delay: 0.1s;
        opacity: 0;
    }
    
    #new_line03{
        bottom: 2px;
        right: -25px;
        transform: scale(0.8);
        transition-duration: 1s;
        transition-delay: 0.2s;
        opacity: 0;
    }
    
    #newproduct_title{
        top: -10px;
        right: 120px;
        transform: scale(0.6);
        position: absolute;
        animation: titleA_move 1s ease-in-out infinite alternate;
    }
    
    @keyframes titleA_move{
        0%{
            transform: translateY(-5px) scale(0.6);
        }
    
        100%{
            transform: translateY(5px) scale(0.6);
        }
    }
    
    /* 가운데 - BEST SELLERS */
    
    #sec01_best_box{
        width: 830px;
        height: 400px;
        right: 0;
        bottom: -30px;
        /* background-color: coral; */
        position: absolute;
    }
    
    #sec01_center_underline{
        width: 100%;
        bottom: 97px;
        border-bottom: 1px solid #C69875;
        position: absolute;
    }
    
    #best_box_con{
        width: 700px;
        height: 100%;
        bottom: 65px;
        right: 220px;
        position: relative;
        cursor: pointer;
        /* background-color: aquamarine; */
    }
    
    .bestseller_img{
        bottom: 70px;
        right: 0;
        position: absolute;
        cursor: pointer;
    }
    
    #best_img{
        bottom: 0;
        right: -10px;
        transform: scale(0.8);
    }
    
    #best_line01{
        bottom: 0;
        right: -5px;
        transform: scale(0.8);
        transition-duration: 1s;
        opacity: 0;
    }
    
    #best_line02{
        bottom: -2px;
        right: -20px;
        transform: scale(0.8);
        transition-duration: 1s;
        transition-delay: 0.1s;
        opacity: 0;
    }
    
    #best_line03{
        bottom: -3px;
        right: -40px;
        transform: scale(0.8);
        transition-duration: 1s;
        transition-delay: 0.2s;
        opacity: 0;
    }
    
    #bestseller_title{
        top: 10px;
        left: 180px;
        transform: scale(0.6);
        position: absolute;
        animation: titleB_move 1s ease-in-out 0.4s infinite alternate;
        
    }
    
    @keyframes titleB_move{
        0%{
            transform: translateY(-5px) scale(0.6);
        }
    
        100%{
            transform: translateY(5px) scale(0.6);
        }
    }
    
    /* 오른쪽 - 디렉터 */
    
    #sec01_man_box{
        width: 500px;
        height: 750px;
        right: -160px;
        bottom: -67px;
        /* background-color: darkkhaki; */
        position: absolute;
    }
    
    #francoisnars_title{
        top: 70px;
        right: 230px;
        transform: scale(0.6);
        position: absolute;
        animation: titleC_move 1s ease-in-out 0.1s infinite alternate;
        
    }
    
    @keyframes titleC_move{
        0%{
            transform: translateY(-5px) scale(0.6);
        }
    
        100%{
            transform: translateY(5px) scale(0.6);
        }
    }
    
    #man_box_con{
        width: 300px;
        height: 100%;
        position: relative;
        cursor: pointer;
        /* background-color: aquamarine; */
    }
    
    .francoisnars_img{
        right: 0;
        bottom: 0;
        position: absolute;
    }
    
    #man_img{
        left: -25px;
        bottom: -10px;
        transform: scale(0.8);
    }
    
    #man_line01{
        transform: scale(0.8);
        transition-duration: 1s;
        opacity: 0;
        /* display: none; */
    }
    
    #man_line02{
        left: 20px;
        transform: scale(0.8);
        transition-duration: 1s;
        transition-delay: 0.1s;
        /* display: none; */
        opacity: 0;
    }
    
    #man_line03{
        left: 40px;
        transform: scale(0.8);
        transition-duration: 1s;
        transition-delay: 0.2s;
        /* display: none; */
        opacity: 0;
    }
    
    
    
    
    /* /////////////////////// 섹션02,03 - 제품 + 스토리 /////////////////////// */
    
    #sec02{
        width: 100%;
        height: 200vh;
        background-color: black;
        position: relative;
        overflow: hidden;
    }
    
    .bg_item{
        position: absolute;
        transform: scale(0.7);
    }
    
    #bg_item01{
        top: -40px;
        left: 3%;
    }
    
    #bg_item02{
        top: 50vh;
        left: -40px;
    }
    
    #bg_item03{
        top: 20vh;
        right: -40px;
    }
    
    #bg_item04{
        top: 90vh;
        right: -40px;
    }
    
    #sec02_product_wrap{
        width: 690px;
        height: 690px;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        /* background-color: #CF745A; */
    }
    
    .product_box{
        width: 220px;
        height: 220px;
        margin-right: 10px;
        margin-bottom: 10px;
        float: left;
        position: relative;
        cursor: pointer;
    }
    
    .product_box img{
        width: 100%;
    }
    
    #product_text{
        margin-top: 70px;
    }
    
    .product_blackbox{
        width: 200px;
        height: 200px;
        top: 10px;
        left: 10px;
        background-color: rgba(0, 0, 0, 0.7);
        transition-duration: 1s;
        position: absolute;
    }
    
    .product_title{
        color: white;
        font-size: 15px;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition-duration: 0.5s;
        position: absolute;
    }
    
    
    #sec03_story_wrap{
        /* display: none; */
    }
    
    #center_line{
        width: 50%;
        height: 120px;
        top: 95vh;
        left: 0;
        border-right: 1px solid white;
        position: absolute;
    }
    
    #sec03_story_wrap{
        width: 900px;
        height: 500px;
        top: 68%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        /* background-color: #C69875; */
    }
    
    #story_logo{
        width: 180px;
        margin-top: 20px;
        margin-left: 42%;
    }
    
    #story_logo img{
        width: 100%;
    }
    
    #story_imgbox{
        width: 100%;
        height: 565px;
        margin-top: 30px;
        overflow: hidden;
        float: left;
        position: relative;
        cursor: pointer;
        /* background-color: aquamarine; */
    }
    
    #story_leftbox{
        width: 350px;
        height: 100%;
        float: left;
        overflow: hidden;
        background-color: black;
    }
    
    #story_leftbox img{
        height: 100%;
        margin-left: -250px;
        transition-duration: 1s;
        /* display: none; */
    }
    
    #story_leftbox:hover>img{
        transform: scale(1.1);
        opacity: 0.5;
    }
    
    #story_centerbox{
        width: 290px;
        height: 100%;
        margin-left: 355px;
        position: absolute;
        overflow: hidden;
        background-color: black;
    }
    
    #story_centerbox img{
        height: 100%;
        transition-duration: 1s;
        /* display: none; */
    }
    
    #story_centerbox:hover>img{
        transform: scale(1.1);
        opacity: 0.5;
    }
    
    #story_rightbox{
        width: 350px;
        height: 100%;
        float: right;
        overflow: hidden;
        background-color: black;
    }
    
    #story_rightbox img{
        height: 100%;
        transition-duration: 1s;
        /* display: none; */
    }
    
    #story_rightbox:hover>img{
        transform: scale(1.1);
        opacity: 0.5;
    }
    
    
    /* /////////////////////// 섹션04 - 광고 /////////////////////// */
    
    #sec04{
        width: 100%;
        height: 400px;
        /* background-color: aquamarine; */
        position: relative;
    }
    
    .sec04_slide_wrap{
        width: 70%;
        height: 300px;
        /* background-color: #CF745A; */
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        overflow: hidden;
    }
    
    .swiper-slide{
        float: left;
        overflow: hidden;
        cursor: pointer;
        /* background-color: chartreuse; */
    }
    
    .swiper-slide img{
        height: 100%;
    }
    
    .slide04 img{
        margin-left: -45%;
    }
    
    #sec04_leftbtn_box{
        width: 7%;
        float: left;
    }
    
    #sec04_rightbtn_box{
        width: 7%;
        float: right;
    }
    
    .btn_line{
        width: 100%;
        border-bottom: 1px solid black;
        margin-top: 202px;
    }
    
    .swiper-button-next{
        margin-right: 7%;
    }
    
    .swiper-button-prev{
        margin-left: 7%;
    }
    
    
    /* /////////////////////// 섹션05 - 푸터 /////////////////////// */
    
    footer{
        width: 100%;
        height: 200px;
        background-color: black;
        font-size: 12px;
        color: lightgrey;
    }
    
    footer a{
        font-size: 12px;
        color: lightgrey;
    }
    
    #footer_up{
        width: 90%;
        height: 100px;
        margin-left: 5%;
        border-bottom: 1px solid grey;
    }
    
    #footer_upleft{
        float: left;
        margin-top: 70px;
    }
    
    #footer_upleft li{
        height: 12px;
        float: left;
        line-height: 11px;
        border-right: 1px solid lightgrey;
        margin-right: 20px;
    }
    

    
    .upleft_last{
        border-right: none;
    }
    
    
    #footer_upright{
        float: right;
        margin-top: 55px;
    }
    
    .footer_sns_box{
        width: 30px;
        height: 30px;
        float: left;
        margin-left: 5px;
        cursor: pointer;
    }
    
    .footer_sns_box img{
        width: 100%;
    }
    
    #footer_down{
        margin-left: 5%;
        margin-top: 15px;
    }
    
    #footer_down>span{
        line-height: 18px;
    }
    
    #topbtn{
        width : 100px;
        height: 100px;
        position: fixed;
        right: 20px;
        bottom: 20px;
        background-color: black;
    }
    
    
}

